.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header-background {
  /* padding: 50px; */
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Header-Benefit {
  width: 32%;
  display: inline-block;
  margin-right: 1%;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}

.Header-Benefit div:not(.Header-Benefit-content) {
  padding: 0px !important;
}

.Header-Benefit-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  max-width: 30%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

.Header-Benefit-image img {
  max-width: 80%;
}

.Header-Benefit-content{
  flex-basis: 40%;
  max-width: 40%;
  padding-top: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
}

.Header-ilustration {
  position: absolute;
  z-index: -1;
  top: 20px;
  /* top: -120px; */
  height: 265px;
}

.Header-Main {
  margin-bottom: 2em;
  margin-left: -200px;
}

.container {
  width: 80%;
  margin: auto;
}
